.sha-hero-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.15;
}

@media (min-width: 360px) {
    .sha-hero-title {
        font-size: 2.1rem;
    }
}

@media (min-width: 412px) {
    .sha-hero-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    .sha-hero-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .sha-hero-title {
        font-size: 3.5rem;
    }
}

.nav-shad {
  height: fit-content;
  list-style: none;
  margin: 0;
  padding: 0;
}



